<div class="container-fluid mt-2 text-center">
  <h1>About Me</h1>
  <div class="card mb-3" *ngIf="images">
    <img class="card-img-top" [src]="getProfileImage(1).url" [alt]="getProfileImage(1).alt" width="100%" height="550px">
    <div class="card-body">
      <h5 class="card-title">Anil Kumar Mirge</h5>
      <p class="card-text">Hi, my name is Anil Kumar Mirge, a senior software engineer by profession and servant of Sri
        Sai Baba.</p>
    </div>
  </div>
</div>
<div class="text-center">
  <p class="alert-link h3">
    Contact Me
  </p>
  <a class="btn btn-social btn-github" href="https://github.com/anilkmirge" target="_blank">
    <span class="fa fa-github" style="font-size: 3em; color: Tomato;"></span>
  </a>
  <a class="btn btn-social btn-twitter" href="https://twitter.com/anilkmirge" target="_blank">
    <span class="fa fa-twitter" style="font-size: 3em; color: Dodgerblue;"></span>
  </a>
  <a class="btn btn-social btn-linkedin" href="https://www.linkedin.com/in/anilmirge" target="_blank">
    <span class="fa fa-linkedin" style="font-size: 3em; color: Mediumslateblue;"></span>
  </a>
</div>