<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a href="/" class="navbar-brand">Sri Sai Satcharitras</a>
  <button class="navbar-toggler" type="button" (click)="toggleNavBar()" data-toggle="collapse"
    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngClass]="{'show': navBarOpen}" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/about" class="nav-link" routerLinkActive="active">About</a>
      </li>
      <li class="nav-item">
        <a routerLink="/navguruwar" class="nav-item nav-link" routerLinkActive="active">Nav Guruwar</a>
      </li>
      <li class="nav-item">
        <a routerLink="/shriram" class="nav-item nav-link" routerLinkActive="active">Sri Sai Ram</a>
      </li>
      <li class="nav-item">
        <a routerLink="/spiritualresources" class="nav-item nav-link" routerLinkActive="active">Spiritual Resources</a>
      </li>
      <li class="nav-item">
        <a routerLink="/contact" class="nav-item nav-link" routerLinkActive="active">Contact</a>
      </li>
    </ul>
  </div>
</nav>
<div class="bg-primary">
  <span class="text-light ml-3 s1-tag">Sraddha</span>
  <span class="text-light mr-3 s2-tag">Saburi</span>
  <h1 class="text-light mb-3 text-center display-5">Om Sai Ram</h1>
</div>