<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a href="/" class="navbar-brand">Sri Sai Satcharitras</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a routerLink="/about" class="nav-item nav-link" routerLinkActive="active">About</a>
      <a routerLink="/navguruwar" class="nav-item nav-link" routerLinkActive="active">Nav Guruwar</a> 
      <a routerLink="/shriram" class="nav-item nav-link" routerLinkActive="active">Shri Ram</a>
      <a routerLink="/contact" class="nav-item nav-link" routerLinkActive="active">Contact</a>
    </div>
  </div>  

  <div class="navbar-expand ml-auto navbar-nav">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="https://github.com/anilkmirge" target="_blank">
          <i class="fa fa-github"></i>
        </a>
        <a class="nav-item nav-link" href="https://twitter.com/anilkmirge" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
        <a class="nav-item nav-link" href="https://www.linkedin.com/in/anilmirge" target="_blank">
          <i class="fa fa-linkedin"></i>
        </a>
      </div>
    </div>
</nav>