<app-gl-messages></app-gl-messages>

<div class="row" *ngIf="!preferredLanguageId">
  <div class="col-md-12">
    <ngb-carousel *ngIf="images" [showNavigationIndicators]="true" [showNavigationArrows]="true">
      <ng-template ngbSlide *ngFor="let image of images">
        <img [src]="image.url" [alt]="image.alt" class="img-responsive" width="100%" height="500px">
      </ng-template>
    </ngb-carousel>
  </div>
</div>

<div class="container-fluid" class="mt-2 text-center">
  <h1>Language Preference:</h1>
  <form #languageForm="ngForm">
    <div class="form-group">
      <label for="language"><h2>Please select your language: </h2></label>
      <ng-select [items]="languages" id="language" [ngStyle]="{'display':'inline-block', 'width': '350px', 'margin': '10px'}"
            bindLabel="name"
            bindValue="id"
            groupBy="category"
            [multiple]="false"
            name="language"
            placeholder="Please Select"
            [(ngModel)]="preferredLanguageId">
            <ng-template ng-optgroup-tmp let-item="item">
              <span style="vertical-align: middle; font-weight: bold;">{{item.category}}</span>
            </ng-template>
      </ng-select>
    </div>
  </form>
</div>

<div *ngIf="preferredLanguageId">
    <app-chapters [preferredLanguageId]="preferredLanguageId">
    </app-chapters>
</div>

<div class="player align-bottom">
    <!-- <div class="player__backward">
              <button (click)="backward.emit()"><i class="fa fa-backward"></i></button>
            </div> -->
    <ng-template #playTipContent><h5>Click to play Saibaba Vibhuti Song..</h5></ng-template>
    <ng-template #stopTipContent><h5>Click to stop</h5></ng-template>
    <div class="player__main">
      <button *ngIf="audio.paused" (click)="playAudio()"><i class="fa fa-play" placement="top" 
        [ngbTooltip]="playTipContent" tooltipClass="tootip-class"></i></button>
      <button *ngIf="!audio.paused" (click)="pauseAudio()"><i class="fa fa-pause" placement="top" 
        [ngbTooltip]="stopTipContent" tooltipClass="tootip-class"></i></button>
    </div>
    <!-- <div class="player__forward">
              <button (click)="forward.emit()"><i class="fa fa-forward"></i></button>
            </div> -->
  </div>