.player {
  text-align: center;
  margin-top: 30px;
}

.player div {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.player .player__backward button,
.player .player__forward button {
  background: transparent;
  border: 1px solid rgb(98, 21, 150);
  color: white;
  width: 75px;
  height: 75px;
  border-radius: 100%;
  font-size: 35px;
  outline: none;
}

.player .player__backward button {
  border-left: none;
}

.player .player__forward button {
  border-right: none;
}

.player .player__main button:hover,
.player .player__backward button:hover,
.player .player__forward button:hover {
  color: rgb(212, 212, 212);
  cursor: pointer;
}

.player .player__main {
  border: 1px solid rgb(212, 212, 212);
}

.player .player__main button {
  color: #007bff;
  background: transparent;
  width: 75px;
  height: 75px;
  border: none;
  font-size: 35px;
  outline: none;
}

.tootip-class .tooltip-inner {
  background-color: #007bff;
  font-size: 125%;
}

.tootip-class .arrow::before {
  border-top-color: #007bff;
}
