<app-gl-messages></app-gl-messages>

<div class="row" *ngIf="!preferredLanguageId">
  <div class="col-md-12">
    <ngb-carousel *ngIf="images" [showNavigationIndicators]="true" [showNavigationArrows]="true">
      <ng-template ngbSlide *ngFor="let image of images">
        <img [src]="image.url" [alt]="image.alt" class="img-responsive" width="100%" height="500px">
      </ng-template>
    </ngb-carousel>
  </div>
</div>

<div class="container-fluid" class="mt-2 text-center">
  <h1>Language Preference:</h1>
  <form #languageForm="ngForm">
    <div class="form-group">
      <label for="language"><h2>Please select your language: </h2></label>
      <select class="form-control-lg ml-2" id="language"
              required
              name="language" [(ngModel)]="preferredLanguageId"
              #language="ngModel">
              <option [ngValue]="null">Please Select</option>
              <option *ngFor="let language of languages" [ngValue]="language.id">{{language.name}}</option>
      </select>
      <div [hidden]="language.valid || language.pristine" class="alert alert-danger">
        Language is required
      </div>
    </div>
  </form>
</div>

<div *ngIf="preferredLanguageId">
    <app-chapters [preferredLanguageId]="preferredLanguageId">
    </app-chapters>
</div>