<div class="container-fluid" class="mt-2 text-center">
  <h1 class="text-primary">Om Shri SaiRam</h1>
</div>

<div class="card">
  <div class="card-header" id="headingOne">
    <h5 class="mb-0">
      <button type="button" class="btn btn-link btn-lg" (click)="isIntroCollapsed = !isIntroCollapsed"
        [attr.aria-expanded]="!isIntroCollapsed" aria-controls="collapseIntro">
        Shri Sai As Lord Rama:
      </button>
    </h5>
  </div>
  <div id="collapseIntro" [ngbCollapse]="!isIntroCollapsed">
    <div class="card">
      <div class="card-body lead">
        <strong>
          <ul class="list-group">
              <li class="list-group-item list-group-item-primary">Om Shri Ganeshaya Namah! Om Shri Saraswathyai Namah! Om Sri Sadguru Sainathaya Namah!
                 <br/> <br/> In this page, we will be learning some true facts about how Shri Sai and Lord Shri Rama are indifferent. There are several examples of the fact that Shri Sai is indeed Lord Shri Rama has been explained in these blogs in <a href="https://www.speakingtree.in/blog/sri-shirdi-sai-as-lord-rama-part1" target="_blank">part 1</a> and 
                 <a href="https://www.speakingtree.in/blog/sri-shirdi-sai-as-lord-rama-part2" target="_blank">part 2</a>. I have outlined few of these similarties explaining how indeed Sri Saibaba is Lord Rama through some examples below.</li>
              <li class="list-group-item list-group-item-default">Observation # 1:</li>
              <li class="list-group-item list-group-item-primary">In Trethayuga, people initially considered Lord Shri Rama as an ordinary human being. But, with the passage of time, they have realized that He was an incarnation of Lord Vishnu. Similarly, initially people misunderstood Saibaba as a mad fakir. But as time passed, they realized Baba's greatness and are still realizinfg it even after
                Baba's mahasamadhi. Today, millions of devotees visit Baba's samadhi mandir in Shirdi and receive his blessings.</li>
              <li class="list-group-item list-group-item-default">Observation # 2:</li>
              <li class="list-group-item list-group-item-primary">King Dasaradha in Ramayana was constantly in grief as he had no son. Vrushyasringa maharshi made king Dasaradha to perform Putrakamesti yagna and God blessed him with four sons. The same situation has been described in Sri Sat Satcharitra chapter 14, where Ratanji Shapoorji Wadia from Nanded had no son inspite of good health, wealth 
                    and all wordly comforts. Baba in Sri Sai Satcharitra blessed Ratanji with a son.</li>
              <li class="list-group-item list-group-item-default">Observation # 3:</li>
              <li class="list-group-item list-group-item-primary">Sage Vishwamitra sighted a woman apporaching them and ordered Rama to kill her with one arrow. Sri Rama was initially hesitating as he felt that the lady ordered to be killed had in no way harmed them and it may lead to sin killing an innocent being. But Sri Rama paused for a minute and concluded that obeying Guru's order was supreme 
                and accordingly without any more hesitation aimed his arrow. Only upon likking, Sri Rama realized that the woman was 'Tataki' a Rakshasa. This explains how Sri Rama followed the orders of his Guru without any question. <br/> <br/> 
                A similar situation has been described in Sri Sai Satcharitra on chapter 23, where a goat was brought to Dwarkamai. Baba called Kaka Sahib Dixit and ordered him to kill the goat with one strike. Kaka Sahib initially showed reservation for a while, thinking that the goat has not caused any harm to him. But after a brief pause, he considered Guru's orders to be supreme and lifted the knife to kill the goat. Sri Sainath stopped him and asked him 
                how could he be ready to kill the goat being a pure brahmin? Kaka Sahib said "I am not concerned whether the killing of the goat is right or wrong. All that I know is that Guru's words are as powerful as vedas." This one could relate the similarities in both the situations of Ramayana and Sri Sai Satcharitra.</li>
              <li class="list-group-item list-group-item-default">Observation # 4:</li>
              <li class="list-group-item list-group-item-primary">In this observation, we will learn and understand how seeking revenge is not good for anyone. Sundara Chaitanyananda Swamiji has written about an incident in his book titled "Chaitanya Ramayana". In Ramayana, Kaikeyi who was a beloved wife of King Dasaradha had a servant named Mandhara who was responsible for inducing her with bad intentions. <br/> <br/> 
                Mandhara was a lady deer in her previous janma. She had a daughter and a son in law. One day, the couple were happily doing rounds in the forest and at the same time King Kaikeyi was on a hunting spree. King Kaikeyi killed the male dear with an arrow and took the dead deer away. The female deer went and pleaded her mother to free the body from the King and bring him back to life with the Sanjivani herb in her possesion. <br/> <br/>
                The mother deer approached the King Kaikeyi and said "King, you have killed my son in law, no doubt it is in line with Kshatriya dharma. However, I pray you to release the body of my son in law, so that I can restore his life." But, King Kaikeyi refused and took the body of the male deer along with him. The mother deer then struck a bad omen for the King Kaikeyi and said "You are responsible for the death of my son in law, and so I will become 
                responsible for the death of your would be son in law in the future". So saying she left. <br/> <br/>
                Later King Kaikeyi celebrated the marriage of his daughter Kaikeyi with King Dasaradha. In those days, it was customary to send servants along with their daughters after marriage. Mandhara accompanied Kaikeyi as a servant maid to Ayodhya. Further events are well known to everybody. So a lady deer was born as a human being to fulfil her revenge from the previous janma. Mandhara induced bad thoughts into the mind of Kaikeyi and subsequently King Dasaradha without his will was forced to send Sri Rama in exile. <br/> <br/>
                King Dasaradha could not bear the misery of separation from his beloved son Rama and eventually died. Mandhara thus became responsible for the death of King Dasaradha, the son in law of King Kaikeyi and fulfilled her vow from the previous janma. Thus, in this case, a deer subjected to injustice had taken rebirth as a human being to take revenge for killing her son in law from the previous birth. <br/> <br/>
                We can come across similar happenings even in Sri Sai Satcharitra. In chapter 46 of of Sri Sai Satcharitra, we can see the story of two brothers who entered into a dispute for property ownership, killing each other and how they were reborn as two goats for seeking vengeance. Baba recognized them from a flock, pacified them and offered them two measures of grains for eating. Shyama questioned Baba, why he loved the two goats so much and paid a lot more money to but those two goats. Baba narrated the story 
                "In the previous life, these two goats were brothers who killed each other in a tussle over a property matter. They had the good fortune to be my companions and sit by my side. Taking pity on them I wanted to feed them and give them rest and comfort and for this reason I spent all the money for which you reprove me. As you did not like My bargain I sent them back to their shepherd." Such was Sai's love for the goats! In chapter 47 of Sri Sai Satcharitra, two human beings Veerbhadrappa and Chenbassappa 
                were also involved in a dispute over a property and got killed. They were later reborn as Snake and Frog. In Ramayana, animals were born as human beings to fulfil their vengeance and in Sri Sai Satcharitra, we have stories describing how human beings were born as animals for seeking vengeance.</li>
              <li class="list-group-item list-group-item-default">Observation # 5: </li>
              <li class="list-group-item list-group-item-primary">When lord Sri Rama set out in search of Sita Mata, he heard a bird continuously chanting the name of Sri Rama and traced his steps towards the direction of that voice. There Sri Rama saw the bird named 'Jatayu' struggling for life. Jatayu briefed Sri Rama about the kidnap of Sita Mata by Ravana and regretted his failure to free her from the crutches of the evil minded Ravana. Before breathing his last breathe, Jatayu pleaded Sri Rama to kill Ravana 
                and free Sita Mata. It was a very touching moment for lord Sri Rama and he felt immense grief and his eyes turned wet by Jatayu's devotion and love. Then, Sri Rama got the firewood from the forest and performed the last rites of the bird in recognition of his services to the lord. Even though, Sri Rama could not perform the last rites of his beloved father king Dasaradha, but he could perform the last rites of his father's trusted friend Jatayu. <br/> <br/>
                We can learn about a similar incident in chapter 31 of Sri Sai Satcharitra. Megha was an ardent devotee of Baba and when he passed away at a young age of 35, Baba cried like a child, stood by his side, performed his last rites and even served food to the brahmins and the poor at his own cost. This incident reminds us of Jatayu's death and lord Sri Rama's love and his role there after.   </li>
          </ul>
        </strong>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header" id="headingTwo">
    <h5 class="mb-0">
      <button type="button" class="btn btn-link btn-lg" (click)="isVideosCollapsed = !isVideosCollapsed"
        [attr.aria-expanded]="!isVideosCollapsed" aria-controls="collapseVideos">
        Shri SaiRam Videos:
      </button>
    </h5>
  </div>
  <div id="collapseVideos" [ngbCollapse]="!isVideosCollapsed">
    <div class="card">
      <div class="card-body">
        <strong>
          <ul class="list-group">
            <li class="list-group-item list-group-item-primary">
              <div class="row">
                <div *ngFor="let url of safeUrls" class="col-sm-3 embed-responsive embed-responsive-1by1">
                  <iframe class="embed-responsive-item" [src]='url' allowfullscreen></iframe>
                </div>
              </div>
            </li>
          </ul>
        </strong>
      </div>
    </div>
  </div>
</div>
