<div class="container-fluid mt-2">
  <div class="col-md-12">
    <mat-tab-group>
      <mat-tab label="Books">
        <div class="container-fluid" class="mt-2 text-center">
          <h1>Language Preference:</h1>
          <form #languageForm="ngForm">
            <div class="form-group">
              <label for="language">
                <h2>Select Book Language: </h2>
              </label>
              <select class="form-control-lg ml-2" id="language" required name="language" [(ngModel)]="preferredBookLanguageId"
                #language="ngModel">
                <option [ngValue]="null">Please Select</option>
                <option *ngFor="let language of bookLanguages" [ngValue]="language.id">{{language.name}}</option>
              </select>
              <div [hidden]="language.valid || language.pristine" class="alert alert-danger">
                Language is required
              </div>
            </div>
          </form>
        </div>
        <div *ngIf="preferredBookLanguageId" class="row mt-2 ml-0">
          <div class="card mr-2 mb-2" *ngFor="let book of books" style="width: 15rem;">
            <img [src]="book.imageUrl" class="card-img-top" [alt]="book.alt">
            <div class="card-body">
              <h5 class="card-title">{{book.title}}</h5>
              <p class="card-text">{{book.description}}</p>
            </div>
            <div class="card-footer bg-transparent border-primary">
              <a target="_blank" [href]="book.pdfUrl" class="btn btn-outline-primary btn-lg m-2">Preview</a>
              <a target="_blank" [href]="book.pdfUrl" class="btn btn-primary btn-lg m-2" download="{{ book.title }}.pdf">Download
                in PDF</a>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Songs">
        <div class="container-fluid" class="mt-2 text-center">
          <h1>Language Preference:</h1>
          <form #languageForm="ngForm">
            <div class="form-group">
              <label for="language">
                <h2>Select Audio Language: </h2>
              </label>
              <select class="form-control-lg ml-2" id="language" required name="language" [(ngModel)]="preferredAudioLanguageId"
                #language="ngModel">
                <option [ngValue]="null">Please Select</option>
                <option *ngFor="let language of audioLanguages" [ngValue]="language.id">{{language.name}}</option>
              </select>
              <div [hidden]="language.valid || language.pristine" class="alert alert-danger">
                Language is required
              </div>
            </div>
          </form>
        </div>
        <div class="card mt-1">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button type="button" class="btn btn-link btn-lg" (click)="isBabaAartisCollapsed = !isBabaAartisCollapsed"
                [attr.aria-expanded]="!isBabaAartisCollapsed" aria-controls="collapseBabaAartis">
                Shri Saibaba Aartis (In Marathi):
              </button>
            </h5>
          </div>
          <div id="collapseBabaAartis" [ngbCollapse]="!isBabaAartisCollapsed">
            <div class="card">
              <div class="card-body lead">
                <div class="row mt-2 ml-0">
                  <div class="card mr-auto mb-2" *ngFor="let aarti of saibabaAartis" style="width: 20rem;">
                    <img [src]="aarti.imageUrl" class="card-img-top" [alt]="aarti.alt">
                    <div class="card-body">
                      <h5 class="card-title">{{aarti.title}}</h5>
                      <p class="card-text">{{aarti.description}}</p>
                    </div>
                    <div class="card-footer bg-transparent border-primary">
                      <audio [src]="aarti.audioUrl" controls style="width: 100%; max-width: 600px;">
                        <p>If you are reading this, it is because your browser does not support the audio element.</p>
                      </audio>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="preferredAudioLanguageId" class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button type="button" class="btn btn-link btn-lg" (click)="isYatharthaGitaCollapsed = !isYatharthaGitaCollapsed"
                [attr.aria-expanded]="!isYatharthaGitaCollapsed" aria-controls="collapseYatharthaGita">
                Srimadh Bhagvada Gita (Yathartha Gita):
              </button>
            </h5>
          </div>
          <div id="collapseYatharthaGita" [ngbCollapse]="!isYatharthaGitaCollapsed">
            <div class="card">
              <div class="card-body">
                <div class="row mt-2 ml-0">
                  <div class="card mr-auto mb-2" *ngFor="let song of gitaSongs" style="width: 20rem;">
                    <div class="card-body">
                      <strong>{{getLanguageName(preferredAudioLanguageId)}}</strong>
                      <span class="card-title"> - {{song.title}}</span>
                    </div>
                    <div class="card-footer bg-transparent border-primary">
                      <audio [src]="song.audioUrl" controls style="width: 100%; max-width: 600px;">
                        <p>If you are reading this, it is because your browser does not support the audio element.</p>
                      </audio>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Vrat and Dates">
          <div class="row mt-2 mb-2">
              <div class="col-sm-3">
                  <mat-card class="mat-elevation-z8" *ngFor="let vrat of vrats">
                      <mat-card-header>
                        <div mat-card-avatar class="vrat-header-image"></div>
                        <mat-card-title>{{vrat.title}}</mat-card-title>
                      </mat-card-header>
                      <img mat-card-image [src]="vrat.imageUrl" [alt]="vrat.alt">
                      <mat-card-content>
                       <p>{{vrat.description}}</p>
                      </mat-card-content>
                      <mat-card-actions>
                        <button mat-raised-button color="warn" (click)="onSelection(vrat)">More Details and Dates</button>
                      </mat-card-actions>
                  </mat-card>
              </div>
              <div class="col-sm-9" *ngIf="selectedVrat">
                <app-vrat-detail [selectedVrat]="selectedVrat"></app-vrat-detail>
              </div>
            </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
