<div class="container-fluid mt-2">
  <div class="col-md-12">
      <ngb-tabset type="pills" [justify]="'fill'" [orientation]="'horizontal'">
          <ngb-tab title="English">
            <ng-template ngbTabContent>
                <div class="row mt-2 ml-0">
                    <div class="card mr-2 mb-2" *ngFor="let book of englishBooks" style="width: 15rem;">
                      <img [src]="book.imageUrl" class="card-img-top" [alt]="book.alt">
                      <div class="card-body">
                        <h5 class="card-title">{{book.title}}</h5>
                        <p class="card-text">{{book.description}}</p>
                      </div>
                      <div class="card-footer bg-transparent border-primary">
                          <a target="_blank" [href]="book.pdfUrl" class="btn btn-outline-primary btn-lg m-2">Preview</a>
                          <a target="_blank" [href]="book.pdfUrl" class="btn btn-primary btn-lg m-2" download="{{ book.title }}.pdf">Download in PDF</a>
                      </div>
                    </div>
                </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Hindi">
            <ng-template ngbTabContent>
                <div class="row mt-2 ml-0">
                    <div class="card mr-2 mb-2" *ngFor="let book of hindiBooks" style="width: 15rem;">
                      <img [src]="book.imageUrl" class="card-img-top" [alt]="book.alt">
                      <div class="card-body">
                        <h5 class="card-title"><strong>{{book.title}}</strong></h5>
                        <div class="card-text">{{book.description}}</div>
                      </div>
                      <div class="card-footer bg-transparent border-primary">
                          <a target="_blank" [href]="book.pdfUrl" class="btn btn-outline-primary btn-lg m-2">Preview</a>
                          <a target="_blank" [href]="book.pdfUrl" class="btn btn-primary btn-lg m-2" download="{{ book.title }}.pdf">Download in PDF</a>
                      </div>
                    </div>
                </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Telugu">
            <ng-template ngbTabContent>
                <div class="row mt-2 ml-0">
                    <div class="card mr-2 mb-2" *ngFor="let book of teluguBooks" style="width: 15rem;">
                      <img [src]="book.imageUrl" class="card-img-top" [alt]="book.alt">
                      <div class="card-body">
                        <h5 class="card-title"><strong>{{book.title}}</strong></h5>
                        <p class="card-text">{{book.description}}</p>
                      </div>
                      <div class="card-footer bg-transparent border-primary">
                          <a target="_blank" [href]="book.pdfUrl" class="btn btn-outline-primary btn-lg m-2">Preview</a>
                          <a target="_blank" [href]="book.pdfUrl" class="btn btn-primary btn-lg m-2" download="{{ book.title }}.pdf">Download in PDF</a>
                      </div>
                    </div>
                </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
  </div>
</div>
